@tailwind base;
@tailwind components;
@tailwind utilities;

.social-icon {
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.social-icon:hover {
  transform: translateY(-60px);
  color: #fff;
}
body{
  background-color: white;
}

.App {

  margin: auto;
  margin-top: 70px;
  margin-bottom: 105px;
  height: 500px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  

}
